body {
	background-color: black;
}

h1 {
	color: white;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

p {
	color: white;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.block {
	image-rendering: pixelated;
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}