body {
	background-color: black;
}

h1 {
	color: white;
	text-align: center;
}

p {
	color: white;
	text-align: center;
}

.block {
	width: 128px;
	height: 128px;
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}