body {
	background-color: black;
}

h1, h2, h3, h4, h5, h6, p {
	color: white;
	text-decoration: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	color: #8080ff;
	text-decoration: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.block {
	image-rendering: pixelated;
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}